@font-face {
    font-family: Motter Corpus;
    src: url(../style/motter-corpus-std/MotterCorpusStd-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
}


.header{
    position: sticky;
    top: 0px;
    padding: 20px 80px;
    font-family: Motter Corpus;
    background-color: rgba(255, 255, 255, 0.7);
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a{
    text-decoration: none;
    color: #0b4141;
}


.header-menu--right{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}

.header-menu__link{
    margin-left: 24px;
    text-decoration: none;
    color: #0b4141;
    transition: .3s linear color;
}

.header-menu__link:hover{
    color: #ffccbc;
}

.download__link{
    margin-left: 48px;
    padding: 12px 44px;
    color: #ffccbc;
    background-color: #0b4141;
    border-radius: 124px;

    transition: .3s linear color;
}

.download__link:hover{
    background-color: #ffccbc;
    color: #0b4141;
}

.hero{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url(../style/images/hero/confettis.png);
    background-repeat: repeat-x;
}

.hero__items{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}

.hero__info{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero__title{
    font-family: Motter Corpus, sans-serif;
    font-weight: 400;
    text-align: center;
    z-index: 0;
    max-width: 747px;;
    font-size: 120px;
    line-height: 128px;
    color: #ffccbc;
}

.hero__img{
    z-index: 1;
}

.hero__subtitle{
    font-size: 120px;
    background: linear-gradient(to bottom, #0b4141 50%, #0b1f1f 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Motter Corpus, sans-serif;
    z-index: 2;
}

.about{
    background-image: url(../style/images/about/about__background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 196px 344px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__items{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
}

.about__info{
    text-align: center;
}

.about_title{
    font-family: Motter Corpus, sans-serif;
    font-size: 80px;
    color: #fff;
    line-height: 96px;
    margin-bottom: 24px;
}

.about__subtitle{
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.text--bold{
    font-weight: 800;
}

.learn{
    background-color: #0b4141;
    background-size: cover;
    padding: 118px 0 0 94px;
}

.learn__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learn__item--left{
    max-width: 480px;
    margin-right: 147px;
    color: #ffccbc;
    font-family: 'Nunito Sans', sans-serif;
}

.item--left__title{
    font-weight: 900;
    margin-bottom: 32px;
    font-size: 68px;
    line-height: 72px;
}

.item--left__subtitle{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 48px;
}

.item--left__btn{
    text-decoration: none;
    color: #ffccbc;
    padding: 15px 31px;
    border: 1px solid #ffccbc;
    border-radius: 128px;
    transition: .3s linear color;
}

.item--left__btn:hover{
    background-color: #ffccbc;
    color: #0b4141;
}



.learn__item--right{
    display: flex;
}










